:root {
  --primary-color: rgb(0,0,0);
  --secondary-color: rgba(248, 37, 37, 0.829);
  --tertiary-color: rgb(180, 85, 240);
}
* {
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: "Cabin", Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

#navbar {
  background-image: linear-gradient(to right, rgb(168, 78, 212),var(--tertiary-color));
  margin-bottom: 0;
  font-size: 24px;}

#navbarNav {
  display: flex;
  justify-content: center;}

.navbar-nav li {
  color: var(--secondary-color);}

.navbar-nav li:hover {
  font-size: 2rem;}

.navActive {
  color: var(--tertiary);
  font-size: 2rem;}


  #name-bar 
  {display: block; position: relative;
  text-align: center;  line-height: 80%;
  font-family: "Indie Flower";  font-size: 40px;
  font-weight: bold;}






  #name-bar-after {
  background-size: cover; content: ""; 
  top: 0;  left: 0;
  bottom: 0;  right: 0;
  position: absolute;
  z-index: -1;     opacity: 1;}  

#name {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
}
#bullet {
  font-size: 10px;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}
#about-me, #projects {
  padding-top: 20px;
  padding-bottom: 20px;
}
#about-me-image {
  padding: 20px;
}

#about-me-text {
  padding: 20px;
  text-align: left;
}

#about-me-image img {
  max-height: 350px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px black;
}

#about-me-image img:hover {
  opacity: 0.85;
}
#skills, #hello {
  padding-top: 50px;
}
#front-end {
  padding-left: 40px;
}
#back-end {
  padding-right: 40px;
}
#front-end, #back-end {
  text-align: center;
  margin: 0 auto;
}

#front-end ul , #back-end ul {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.resume-btn-wrapper {
  margin-top: 40px;
  text-align: center;
}
.resume-btn {
  height: 50px;
  width: 225px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: var(--tertiary-color);
  margin: 0 auto;
  padding: 10px;
}

.resume-btn a {
  color: var(--secondary-color);
  text-decoration: none;
}

.resume-btn a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.resume-btn:hover {
  font-size: 1.1rem;
  height: 60px;
  width: 250px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.project-image-wrapper {
  position: relative;
  width: 100%;
  padding: 15px;
  color: var(--secondary-color);
}
.project-image-wrapper:hover {
  color: var(--primary-color);
}

.project-image-wrapper img {
  height: 300px;
  object-fit: fill;
  width: 100%;
  opacity: .5;
  border: solid var(--tertiary-color) 1px;
}

.project-text {
  position: absolute;
  text-align: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 300px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
  font-weight: 1000;
  text-indent: -9999px;
}

.project-text:hover {
  text-indent: 0px;
  cursor: pointer;
}

.git-link {
  color: var(--primary-color);
  font-size:2rem;
}

.project-link {
  color: var(--primary-color);
}

.git-link:hover {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--tertiary-color);
}

.project-link:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}
.hello-form {
  display: block;
  padding: 2.5%;
  width: 100%;
  border: solid var(--tertiary-color) 3px;
  box-shadow: 5px 10px;
}

.hello-form form {
  width: 80%;
  margin: 0 auto;
}

.hello-fi {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: grey;
  width: 100%;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
}

.hello-fi:focus {
  background-color: rgb(255,255,255);
  outline: none;
  border: 3px solid var(--tertiary-color);
}

.hello-form label {
  margin: 0 10px;
}

.hello-form button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 20px;
}

.hello-form button:hover {
  padding: 12px 24px;
  font-size: 16px;}
  
footer 
{  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;}

#footer-col 
{  display: flex;
  border-top: solid var(--tertiary-color) 2px;
  text-align: center;}


  .fa-envelope, .fa-facebook , .fa-instagram, .fa-linkedin {
  color: black;}@media screen and (max-width:360px) {
  
  #skills h3 {
      font-size: 24px;}
  #front-end {
    padding-left: 0px;  }
  #back-end {
    padding-right: 0px;
 }
  
}@media screen and (max-width:600px) {
  
  #about-me-image img {
      max-height: 200px;
  }
  
  #name-bar 
  {    font-size: 30px;} 
  
  #project-image-wrapper img {
    height: 200px;}}
@media screen and (max-width:992px) 
{ .project-image-wrapper img
   {    height: 200px;}

  .project-text
 {    text-indent: 0px;}  .project-text h3 {
    font-size: 22px;  }   .project-text h4 {
    font-size: 18px;}}
/* end of stylings for media screen max-width of 992px (matched with Bootstrap lg */ 


